.userList__row {
    display: grid;
    padding: 20px 10px;
    margin: 10px 0;
    grid-template-columns: 3fr 2fr 1fr;
    background-color: aliceblue;

    align-items: center;
}

.userList__controlsContainer {
    display: flex;
}

.userList__button {
    margin: 5px 10px;
    padding: 10px;
    background-color: coral;
    border-radius: 5px;

    cursor: pointer;
    user-select: none;
}

.userList__button:active {
    background-color: chocolate;
}
