.userList__row {
    display: grid;
    padding: 20px 10px;
    margin: 10px 0;
    grid-template-columns: 3fr 2fr 1fr;
    background-color: aliceblue;

    align-items: center;
}

.userList__controlsContainer {
    display: flex;
}
